__pycache__
FastAPI_Backend/test.py
FastAPI_Backend/keys.py
FastAPI_Backend/data.py
test.py
test.ipynb
training/Data/dataset.csv
training/Data/recipes.csv
training/Data/reviews.csv
training/Data/recipes_gzip.csv
training/Data/dataset_unzip.csv